header{
    position: sticky;
    top: 0;
    width:100%;
    background-color: white;
}

.logo{
    position: absolute;
    margin-top: 0;
    margin-left: 10px;
}

.nav-kiri{
    float: left;
}

.nav-kanan{
    float: right;
    width: 250px;
}

.nav{
    width: auto;
    height: 50px;
    background: white;
    border-radius: 2px;
}

.nav ul{
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav a{
    float: left;
    list-style: none;
    margin:0;
    padding-right:27px;
    text-decoration: none;
    color: blue;
}

#index{
    background-image:url("../img/pattern.jpg");
    margin: 0;
    padding: 0 ;
}

section{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

section h1{
    text-align: center;
}

.list{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.list a{
    text-decoration: none;
    color: black;
}


/*css about*/
#data-peserta{
    width: 63%;
}

#data-peserta h1{
    text-align: center;
}

/*css contact*/

.kontak ul{
    list-style-type: none;
}

h2{
    text-align: center;
}

.kontak{
    width: 70%;
    padding-bottom: 5px;
}

table{
    margin-left:37px;
}

td{
    width:200px;
    padding-top: 10px;
}

textarea{
    width: 300px;
    height:50px;
}

/*footer*/
footer{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    padding: 4px;
    margin-top: 20px;
}

footer h5{
    color:white;

}
